body{
  width : 1000px;
  height: 1000px;
  background-color: darkblue;
}

.test{
  background-color: darkgray;
  width: 1000px;
  height: 1000px
}

.symptoms{

  position:absolute;
  width:700px;
  height:700px;
  /* padding-bottom: 100%; */
  background-color:#fcecd7;

}


.solutions{
  position:relative;
  width:500px;
  height:500px;
  /* margin-left:50%; */
  /* padding-bottom: 100%; */
  background-color:#6aa5b7;
}